<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 d-lg-block d-none">
      <%= link_to "アカウント", users_account_path, class:"d-block mt-3 py-2 pl-3 border-primary active_right" %>
      <%= link_to "プロフィール", users_profile_path, class:"d-block py-2 pl-3 hover-blue" %>
    </div>
    <div class="col-lg-2 d-lg-none py-3">
      <%= link_to "アカウント", users_account_path, class:"mt-3 py-2 ml-3 border-primary active_bottom text-center" %>
      <%= link_to "プロフィール", users_profile_path, class:"py-2 ml-3 hover-blue text-center" %>
    </div>
    <div class="col-lg-10 container-fluid bg-light">
      <div class="row justify-content-center">
        <div class="col-9 bg-white my-4 rouded p-4">
          <h4 class="border-bottom pb-4 mb-0">アカウント</h4>
          <div class="row pb-5 pt-4 border-bottom">
            <div class="col-sm-3 col-form-label font-weight-bold" >メールアドレス</div>
            <div class="col-sm-9">
              <div><%= @user.email %></div>
            </div>
          </div>
          <div class="row pb-5 pt-4 border-bottom">
            <div class="col-sm-3 col-form-label font-weight-bold" >パスワード</div>
            <div class="col-sm-9">
              <div> ********** </div>
            </div>
          </div>
          <button class="btn btn-primary mx-1 mt-4" type="button">
            <%= link_to "編集", users_edit_path, method: :get, :style=>"color:white;" %>
          </button>
      </div>
    </div>
  </div>
</div>
</div>
