<div class="container bg-light">
  <div class="d-flex justify-content-center">
    <div class="col-9 bg-white my-4 rouded p-4 d-flex justify-content-center">
      <%= form_with model: @user do |f| %>
      <div class="input-field">
        <p class="mb-0">新しいアカウントを作成</p>
        <%= render "shared/error", obj: @user %>
        <div class="form-row mt-3">
          <div class="pt-2 col-2 require-stamp-b"></div>
          <%= f.text_field :name, value: @name, placeholder: "ユーザー名", class: "form-control col-10" %>
        </div>
        <div class="form-row mt-3">
          <div class="pt-2 col-2 require-stamp-b"></div>
          <%= f.text_field :email, value: @email, placeholder: "メールアドレス", class: "form-control col-10 email-check" %>
        </div>
        <div class="form-row mt-3">
          <div class="pt-2 col-2 require-stamp-b"></div>
          <%= f.password_field :password, placeholder: "パスワード", class: "form-control col-10" %>
        </div>
        <div class="form-row mt-3">
          <div class="pt-2 col-2 require-stamp-b"></div>
          <%= f.password_field :password_confirmation, placeholder: "パスワード確認", class: "form-control col-10" %>
        </div>
        <%= f.submit "新しいアカウントを作成", class: "btn btn-primary mt-4 col submit-check" %>
      <% end %>
      <%= link_to "すでにアカウントをお持ちの方はログイン", login_path, method: :get,  class: "mt-3 d-block" %>
    </div>
  </div>
</div>
</div>
